*.*
.vscode
build
!.devcontainer
!.gitignore
!.github
!*.dockerfile
!*.json
!*.c
!*.cpp
!*.h
!*.hpp
!CMakeLists.txt
!*.cmake
!*.dsl
!*.yml
!*.py
!*.proto
!cube_mx_src/.mxproject
!cube_mx_src/cube_mx_src.ioc